<!DOCTYPE html>
<html style="height: 100%">
<head>
  <title>Plannr - <%= yield(:title).presence || "Event Management Platform" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon-16.ico', {sizes: '16x16'} %>
  <%= favicon_link_tag 'favicon-32.ico', {sizes: '32x32'} %>
  <%= favicon_link_tag 'favicon-48.ico', {sizes: '48x48'} %>
  <%= favicon_link_tag 'favicon-256.ico', {sizes: '256x256'} %>
</head>
<body>

<div id="toast"></div>
<%= react_component("Run", prerender: true) %>

</body>
</html>
