<!DOCTYPE html>
<html>
<head>
  <title>Plannr - Welcome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="dashboard-container">
	<div class="dashboard-left-content">
		<%= react_component('DashboardLeftNav', path:request.fullpath, prerender: true) %>
	</div>
	<div class="dashboard-right-content">
		<%= react_component('PageHeader', name:@header, prerender: true) %>
		<%= yield %>
	</div>
</div>


</body>
</html>
