<!DOCTYPE html>
<html>
<head>
  <title>Plannr Dasboard - Welcome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= react_component('DashboardHeader', profile: current_user.profile, root_path: root_path) %>
<hr class="header-hr">

<div class="main-content">
	<div class="left-menu">
		<%= react_component('Menu', name: "#{current_user.profile.first_name} #{current_user.profile.last_name}") %>
	</div>
	<div class="right-content">
		<%= yield %>
	</div>
</div>

</body>
</html>
	