<!DOCTYPE html>
<html>
<head>
  <title>Plannr - <%= yield(:title).presence || "Event Management Platform" %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <%= favicon_link_tag 'favicon-16.ico', {sizes: '16x16'} %>
  <%= favicon_link_tag 'favicon-32.ico', {sizes: '32x32'} %>
  <%= favicon_link_tag 'favicon-48.ico', {sizes: '48x48'} %>
  <%= favicon_link_tag 'favicon-256.ico', {sizes: '256x256'} %>
</head>
<body>
  <!--
  Needed for Hamburger menu
  Strict order of HTML tags
  Ask Sunny before moving these tags
  -->
  <input type="checkbox" id="menu-trigger" class="Hamburger-trigger u-checkboxHidden"></input>
  <label for="menu-trigger">
    <i class="fa fa-bars Hamburger-icon"></i>
  </label>

  <!-- Mask for when Menu is open -->
  <div class="Mask" onClick="document.getElementById('menu-trigger').checked = false;"></div>

  <div id="modal"></div>
  <div id="toast"></div>

  <div class="Menu">
    <%= react_component('Menu', name: current_user.profile.full_name,
                                email: current_user.email,
                                company: current_user.company,
                                admin: current_user.company_admin,
                                path: request.fullpath,
                                prerender: true) %>
  </div>


  <div class="MainContainer">
    <%= react_component('PageHeader',
              header: yield(:header).presence || "Plannr",
              disableSkrollableHeader: (@disable_skrollable_header || false),
              profile: current_user.profile,
              email: current_user.email,
              userId: current_user.id,
              prerender: true) %>
    <div class="MainContainer-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
