<!DOCTYPE html>
<html>
<head>
  <title>Plannr - Welcome</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!--
  Needed for Hamburger menu
  Strict order of HTML tags
  Ask Sunny before moving these tags
  -->
  <input type="checkbox" id="menu-trigger" class="Hamburger-trigger u-checkboxHidden"></input>
  <label for="menu-trigger">
    <i class="fa fa-bars Hamburger-icon"></i>
  </label>

  <!-- Mask for when Menu is open -->
  <div class="Mask" onClick="document.getElementById('menu-trigger').checked = false;"></div>

  <div id="modal"></div>

  <div class="Menu">
    <%= react_component('Menu', name: current_user.profile.full_name,
                                email: current_user.email,
                                company: current_user.company,
                                admin: current_user.company_admin,
                                path: request.fullpath,
                                prerender: true) %>
  </div>


  <div class="MainContainer">
    <%= react_component('PageHeader', header: @header, disableSkrollableHeader: (@disable_skrollable_header || false), prerender: true) %>
    <div class="MainContainer-content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
